body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Arial;

background-image:url("bg.jpg");
background-size:cover;
background-position:center;
}

.container{
width:420px;
padding:30px;
background:rgba(255,255,255,0.9);
border-radius:20px;
backdrop-filter:blur(10px);
box-shadow:0 10px 40px rgba(0,0,0,0.3);
}

h1{
text-align:center;
color:#3f51b5;
margin-bottom:20px;
}

.tabs{
display:flex;
background:#e8eaf6;
padding:5px;
border-radius:10px;
margin-bottom:20px;
}

.tab{
flex:1;
text-align:center;
padding:8px;
border-radius:8px;
cursor:pointer;
}

.tab.active{
background:#3f51b5;
color:white;
}

.input-box{
display:flex;
margin-bottom:20px;
}

input{
flex:1;
padding:10px;
border:1px solid #ccc;
border-radius:8px 0 0 8px;
}

button{
padding:10px 15px;
background:#3f51b5;
color:white;
border:none;
border-radius:0 8px 8px 0;
cursor:pointer;
}

button:hover{
background:#2c3ea8;
}

.task{
background:#f1d1a8;
padding:15px;
margin-bottom:15px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;
border-left:6px solid orange;
}

select{
padding:5px;
border-radius:6px;
}